<launch>

  <arg name="rosbag_file"/>
  <arg name="topic_name"/>
  <arg name="folder_name" default="~/.ros"/>
  <arg name="speed" default="100"/>
  <arg name="format" default="png"/>
  
  <node pkg="rosbag" type="play" name="rosbag"
	args="-r $(arg speed) -d 2 $(arg rosbag_file)"/>

  <node name="extract" pkg="image_view" type="extract_images"
	respawn="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="$(arg topic_name)"/>
    <param name="filename_format" value="$(arg folder_name)/img_%04i.$(arg format)"/>
  </node>
</launch>
