<launch>
  <arg name="topic" default=""/>
  <arg name="position" default=""/>
  <arg name="image" default=""/>
  
  <group ns="$(arg topic)$(arg position)$(arg image)">
    <node name="ObjectMeasurer" pkg="openag_cv" type="ObjectMeasurer.py"
	  args="$(arg topic)$(arg position)$(arg image)">
      <param name="MinThreshold" value="200"/>
      <param name="MaxThreshold" value="255"/>
      <param name="MinAreaThreshold" value="1000"/>
      <param name="ReferenceMeasure" value="20"/>      
    </node>    
  </group>  
</launch>
