<launch>
  <arg name="frequency" default="3600"/>
  <arg name="framerate" default="30"/>
  <arg name="width" default="1280"/>
  <arg name="height" default="960"/>

  <group ns="cameras">
    <node name="left" pkg="usb_cam" type="usb_cam_node">
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="$(arg width)" />
      <param name="image_height" value="$(arg height)" />
      <param name="pixel_format" value="mjpeg" />
      <param name="framerate" value="$(arg framerate)" />
      <param name="camera_frame_id" value="camera0" />
      <param name="camera_name" value="top"/>
      <param name="io_method" value="mmap"/>
    </node>

    <node name="right" pkg="usb_cam" type="usb_cam_node">
      <param name="video_device" value="/dev/video1" />
      <param name="image_width" value="$(arg width)" />
      <param name="image_height" value="$(arg height)" />
      <param name="pixel_format" value="mjpeg" />
      <param name="framerate" value="$(arg framerate)" />
      <param name="camera_frame_id" value="camera1" />
      <param name="camera_name" value="side" />
      <param name="io_method" value="mmap"/>
    </node>
  </group>

 
</launch>
