<launch>

  <arg name="frequency" default="3600"/>
  <arg name="framerate" default="1"/>
  <arg name="width" default="1280"/>
  <arg name="height" default="960"/>

  <include file="$(find roslaunch)/stereo_camera_img_acquisition.launch" />

  <node name="camera_top_subscriber" pkg="openag_cv" type="CameraSubscriber.py"
	args="$(arg frequency) /cameras/top/image_raw"/>
  
  <node name="camera_side_subscriber" pkg="openag_cv" type="CameraSubscriber.py"
	args="$(arg frequency) /cameras/side/image_raw"/>

  <node pkg="rosbag" type="record" name="record" output="screen" 
   	args="/cameras/top/image_raw_shot /cameras/side/image_raw_shot"/>

</launch>
